In [1]:
import pandas as pd
import numpy as np

In [2]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

print(cars1.head())
print(cars2.head())

cars1.to_csv("cars1.csv", index=False)
cars2.to_csv("cars2.csv", index=False)

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

In [3]:
cars1 = cars1.loc[:,"mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [4]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

In [5]:
cars = pd.concat([cars1, cars2])

In [6]:
nr_owners = np.random.randint(15000,high=73001,size=398,dtype="I")
nr_owners

array([55563, 26006, 34576, 29596, 38903, 68725, 72286, 67130, 50631,
       43418, 18992, 44465, 30315, 63453, 22109, 68073, 69339, 41761,
       26393, 43447, 33324, 20367, 15956, 51385, 63937, 53480, 42231,
       39106, 68469, 27616, 40209, 55939, 56980, 36228, 41117, 69430,
       25383, 71964, 71205, 63160, 26477, 32069, 49876, 66628, 60005,
       30259, 44798, 69094, 34237, 31938, 41916, 65678, 44149, 46586,
       24723, 64243, 37561, 20380, 26635, 30187, 66510, 19127, 44845,
       58306, 42996, 57377, 47084, 58616, 18343, 31522, 15131, 68167,
       38567, 34559, 24460, 24358, 23577, 49569, 56026, 19107, 18336,
       24768, 25877, 23950, 52637, 35093, 52274, 72293, 37079, 64902,
       66509, 43569, 18888, 33144, 37078, 68793, 50051, 44830, 44069,
       22771, 59669, 23378, 23011, 33573, 31686, 26731, 34729, 57207,
       55115, 15482, 35011, 41843, 28838, 42900, 46642, 52641, 25273,
       40517, 17358, 45420, 17171, 50163, 49817, 46583, 38286, 70087,
       54928, 24795, 44489, 60489, 71843, 24254, 50090, 71317, 37875,
       30357, 44795, 35574, 47145, 28837, 62735, 69680, 50824, 69313,
       26590, 64836, 36162, 49130, 52523, 29433, 44982, 22196, 54625,
       65375, 41617, 33842, 25993, 66479, 56267, 69089, 46541, 54974,
       53876, 55832, 36152, 51718, 46917, 18544, 67527, 57106, 57556,
       39900, 36981, 33066, 24068, 56991, 44644, 67582, 41782, 59745,
       25521, 70832, 24779, 60762, 21268, 39192, 27689, 46596, 16106,
       54553, 16924, 20300, 65909, 58558, 22576, 32011, 33563, 39344,
       33965, 24740, 15921, 57140, 65344, 37200, 27937, 58508, 70613,
       54082, 57051, 65393, 25594, 43475, 21186, 67455, 54224, 47208,
       23457, 34815, 33266, 21421, 26367, 39626, 64733, 27304, 25486,
       58746, 18247, 65673, 18130, 30920, 47409, 45758, 28298, 49995,
       37530, 70400, 32728, 42429, 18244, 15883, 18060, 55352, 29697,
       49912, 48774, 72241, 25952, 54536, 64160, 20170, 52759, 65051,
       59357, 52900, 57463, 22099, 24493, 23755, 53235, 27960, 32257,
       62141, 35554, 72387, 59885, 22355, 71297, 39433, 26383, 69456,
       49217, 36195, 44996, 43170, 37747, 72063, 51356, 25374, 19207,
       45615, 15490, 61896, 19499, 54485, 65075, 61864, 30287, 24557,
       68871, 35456, 68324, 38704, 15546, 37581, 22967, 44702, 25793,
       59349, 54482, 37325, 47384, 30338, 35257, 29635, 42389, 59448,
       59542, 29106, 19944, 35085, 35755, 38617, 24636, 45423, 39039,
       16176, 41462, 27836, 48313, 39698, 58852, 27909, 65750, 58282,
       34246, 56659, 72847, 23767, 34532, 45625, 21587, 51988, 22185,
       31941, 44624, 38228, 54112, 24648, 72543, 16821, 65188, 42638,
       65811, 65675, 61478, 67180, 29711, 36703, 54471, 40366, 37002,
       33603, 34862, 65032, 69549, 69142, 32465, 21539, 62972, 23852,
       52036, 20211, 54824, 36050, 64621, 26827, 42006, 63368, 68027,
       25061, 35546, 64785, 21786, 33150, 70813, 64189, 68136, 66916,
       22162, 17572, 68913, 28830, 53438, 51454, 57348, 15962, 16727,
       22916, 20106, 21245, 17115, 40551, 56311, 16104, 40439, 25131,
       15528, 61676], dtype=uint32)

In [7]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,16104
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,40439
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,25131
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,15528
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,61676